# .env

# Nhost Configuration
NEXT_PUBLIC_NHOST_SUBDOMAIN=
NEXT_PUBLIC_NHOST_REGION=

# Cosmic CMS (To be removed after full Nhost migration)
NEXT_PUBLIC_COSMIC_BUCKET_SLUG=
COSMIC_READ_KEY=
COSMIC_WRITE_KEY=

# Stripe Configuration
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

# Optional: Stripe shipping rate IDs (create these in your Stripe Dashboard)
STRIPE_SHIPPING_RATE_1=
STRIPE_SHIPPING_RATE_2=